<TMPL_SETVAR b_text ~>
    <TMPL_VAR b_value>
<~/TMPL_SETVAR>

<~.TMPL_IF b_condition ->
    some_class_name
<-/TMPL_IF>

<~TMPL_IF b_condition .~>
    some_class_name
<~./TMPL_IF>

<TMPL_SETVAR b_text |~>
    <TMPL_VAR b_value>
<~|/TMPL_SETVAR>

<TMPL_SETVAR b_class_name ~>
    btn
    btn_<TMPL_VAR b_modifier>
    <~ TMPL_IF b_cta> btn_cta</TMPL_IF>
<~/TMPL_SETVAR>
