{
    "env": {
        "node": true
    },

    "globals": {
        "describe": false,
        "it": false
    },

    "rules": {
        "brace-style": [2, "1tbs"],
        "camelcase": 0,
        "comma-dangle": [2, "never"],
        "comma-spacing": 0,
        "comma-style": [2, "last"],
        "consistent-return": 1,
        "dot-notation": [1, {"allowKeywords": false}],
        "eol-last": 1,
        "indent": 2,
        "key-spacing": 0,
        "new-cap": [2, {"capIsNewExceptions": ["Deferred"]}],
        "no-alert": 0,
        "no-extra-parens": 0,
        "no-fallthrough": 0,
        "no-mixed-spaces-and-tabs": 2,
        "no-param-reassign": 0,
        "no-redeclare": 0,
        "no-underscore-dangle": 0,
        "no-use-before-define": [2, "nofunc"],
        "quotes": [1, "single"],
        "semi": [2, "always"],
        "space-after-keywords": 1,
        "space-before-blocks": [1, "always"],
        "space-before-function-paren": 0,
        "spaced-line-comment": 1,
        "strict": 0,
        "use-isnan": 1,
        "yoda": [2, "never", { "exceptRange": true }]
    }
}
