<head>
    <title>HTML</title>
</head>

<header class="header">Header</header>

<TMPL_IF b_condition>
    <div class="text">
        Text
    </div>
</TMPL_IF>

<input type="text" placeholder="Type something here"/>

<table>
    <caption align="top"> A more complex table-within-a table.  </caption>
    <tbody>
        <tr>
            <th> Outer Table </th>
            <td>
                <table border="">
                    <caption align="top"> An inner table showing a variety of headings and data items.  </caption>
                    <tbody>
                        <tr>
                            <th colspan="5">
                                Inner Table
                            </th>
                        </tr>
                        <tr>
                            <th rowspan="2" colspan="2">
                                CORNER
                            </th>
                            <th colspan="3">
                                Head1
                            </th>
                        </tr>
                        <tr>
                            <th rowspan="2">
                                Head2
                            </th>
                            <th colspan="2">
                                Head3
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Head4
                            </th>
                            <th>
                                Head5
                            </th>
                            <th>
                                Head6
                            </th>
                        </tr>
                        <tr>
                            <td>
                                A
                            </td>
                            <td rowspan="2" valign="middle" bgcolor="yellow">
                                Two Tall
                            </td>
                            <td bgcolor="green">
                                <ul>
                                    <li>
                                        Lists can be table data
                                    </li>
                                    <li>
                                        Images can be table data
                                    </li>
                                </ul>
                            </td>
                            <td colspan="2" align="center">
                                Two Wide
                            </td>
                        </tr>
                        <tr valign="middle">
                            <td>
                                <img src="../images/icon.gif" alt="HTML Station">
                            </td>
                            <td align="center">
                                A <a href="form.html">Form</a> in a table: 
                                <form method="POST" action="http://www.december.com/cgi-bin/formmail.secure.cgi">
                                    <input type="hidden" name="recipient" value="nobody@december.com"><input type="hidden" name="subject" value="Table Example"> Your age: <input type="text" name="user-age" size="2"><br>
                                    What is your favorite ice cream?<br>
                                    <select name="favorite-icecream">
                                        <option>
                                            Vanilla
                                        </option>
                                        <option selected="">
                                            Chocolate
                                        </option>
                                        <option>
                                            Cherry Garcia
                                        </option>
                                        <option>
                                            Pizza Pancake
                                        </option>
                                        <option>
                                            None of the above!
                                        </option>
                                    </select>
                                    <br>
                                    <input type="submit" value="OK"> <input type="reset" value="Cancel">
                                </form>
                            </td>
                            <td>
                                <table>
                                    <caption>
                                        No border
                                    </caption>
                                    <tbody>
                                        <tr>
                                            <th>
                                                Little
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>
                                                Table
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                Multiple<br>
                                line<br>
                                item
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<div class=input>
    <h5>Title</h5>
    <p>Introductory text</p>
    <input type="text" placeholder="Type something here" />
    <input type="checkbox" checked>
</div>

<div class="item <TMPL_IF condition>item_<TMPL_VAR type></TMPL_IF>">
    Text
</div>

<div class='<TMPL_WS FOLDSPACE>
        item
        <TMPL_IF condition>
            item_<TMPL_VAR type>
        </TMPL_IF>
        js-item
    </TMPL_WS>'>
    Text
</div>

<TMPL_IF [% $condition %]><div class="wrapper"></TMPL_IF>
    <div class="inner">
        Content
    </div>
<TMPL_IF [% $condition %]></div></TMPL_IF>

<p
    class="
        text
        text_indented
        <TMPL_VAR modifier>"
    data-id="
        1
    ">
    Text
</p>

<div
    <TMPL_IF condition>
        class="<TMPL_VAR hidden_class>"
        data-hidden="true"
    <TMPL_ELSIF [% $another_condition %]>
        class="hidden"
        data-hidden="true"
        data-auto=1
    <TMPL_ELSE>
        id="hide"
    </TMPL_IF>
    style="background: red;">
    Content
    <input type="checkbox" <TMPL_UNLESS uncheck>checked</TMPL_UNLESS>/>
    # No whitespace before conditional attribute is intended.
    <input type="checkbox"<TMPL_IF check> checked="checked"</TMPL_IF> />
    <button<TMPL_IF submit> type="submit"</TMPL_IF><TMPL_IF add_class> class="button"</TMPL_IF>>Press!</button>
</div>

<form action="/login">
    <fieldset>
        <input type="text" name="login" />
        <input type="password" name="password" />
    </fieldset>
    <button type="submit">
        Login
    </button>
</form>

<cite>Citation</cite>
<time datetime="Fri Dec 04 2015 10:49:00 GMT+0100 (CET)">10:49</time>
