<TMPL_IF b_condition>
    <div class="text">
        Text
    </div>
</TMPL_IF>

<input type="text" placeholder="Type something here"/>

<div class=input>
    <h5>Title</h5>
    <p>Introductory text</p>
    <input type="text" placeholder="Type something here" />
    <input type="checkbox" checked>
</div>
