<TMPL_IF b_condition>
    <div class="text">
        Text
    </div>
</TMPL_IF>

<input type="text" placeholder="Type something here"/>

<div class=input>
    <h5>Title</h5>
    <p>Introductory text</p>
    <input type="text" placeholder="Type something here" />
    <input type="checkbox" checked>
</div>

<div class="item <TMPL_IF condition>item_<TMPL_VAR type></TMPL_IF>">
    Text
</div>

<div class='<TMPL_WS FOLDSPACE>
        item
        <TMPL_IF condition>
            item_<TMPL_VAR type>
        </TMPL_IF>
        js-item
    </TMPL_WS>'>
    Text
</div>

<TMPL_IF [% $condition %]><div class="wrapper"></TMPL_IF>
    <div class="inner">
        Content
    </div>
<TMPL_IF [% $condition %]></div></TMPL_IF>
