<TMPL_COMMENT>
    Comment content
    <TMPL_VAR text>
</TMPL_COMMENT>

<TMPL_VAR b_value> ## Inline comment

# Line starts with hash <TMPL_VAR b_value>
Just a # symbol <TMPL_VAR b_value>

## - 1
## - 2
## - 3

<TMPL_VAR b_text
    ## Attribute comment
    ok=[% 1 %]>
