<TMPL_COMMENT>
    Comment content
    <TMPL_VAR text>
</TMPL_COMMENT>

<TMPL_VAR b_value> ## Inline comment

# Beginning of line comment <TMPL_VAR b_value>
Just a # symbol <TMPL_VAR b_value>

## - 1
## - 2
## - 3

# First line comment, issue #29
# <TMPL_VAR b_text>
