<TMPL_INCLUDE ../relative/template.inc>

<TMPL_INCLUDE inc/template/header.inc
    b_attr=b_attr_value
    b_expression_attr=[% $b_expression_value %]>

<TMPL_INCLUDE label:../relative/template.inc>
<TMPL_INCLUDE another_label:component.inc>
