<TMPL_VAR [% $a or $b or $c %]>
<TMPL_VAR [% ($a or $b) and $c %]>
<TMPL_VAR [% $a or $b || $c %]>
<TMPL_VAR [% not $a and $b or $c %]>
<TMPL_VAR [% $a < $c && $b >= $c %]>
<TMPL_VAR [% $a / $b * $c % $d %]>
<TMPL_VAR [% !$a && $b || + $c %]>
<TMPL_VAR [% $a + $b - $c %]>
