<TMPL_VAR [% $a or $b or $c %]>
<TMPL_VAR [% ($a or $b) and $c %]>
<TMPL_VAR [% $a or $b || $c %]>
<TMPL_VAR [% not $a and $b or $c %]>
<TMPL_VAR [% $a < $c && $b >= $c %]>
<TMPL_VAR [% $a / $b * $c % $d %]>
<TMPL_VAR [% !$a && $b || + $c %]>
<TMPL_VAR [% $a + $b - $c %]>
<TMPL_VAR [% $a ? ($a + $b) : $c %]>
<TMPL_VAR [% $a > 3 %]>
<TMPL_VAR [% 5.5 * $a >= .3 %]>
<TMPL_VAR [% $a ne 'ok' %]>
<TMPL_VAR [% $a->{prop} && $b->{$prop} && $a->{b}->{c} %]>
<TMPL_VAR [% $letter =~ m/a|b|c|d/ || $digit =~ /[0-9]+/ || $text !~ /^null$/ %]>
<TMPL_VAR [% substr($string, 1, -1) %]>
<TMPL_VAR [% lc $string . '!' . lc 'A' %]>
